name: Run Python Tests

on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
    - name: Set up Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        miniforge-version: latest
        use-mamba: true
        activate-environment: paretobench
    - name: Set cache date
      run: |
        echo "DATE=$(date +'%Y%m%d')" >> $GITHUB_ENV
        echo "CACHE_NUMBER=1" >> $GITHUB_ENV
    - uses: actions/cache@v4
      with:
        path: ${{ env.CONDA }}/envs
        key: conda-${{ hashFiles('environment.yml') }}-${{ env.DATE }}-${{ env.CACHE_NUMBER }}
      id: cache
    - name: Update environment
      run: mamba env update -n paretobench -f environment.yml
      if: steps.cache.outputs.cache-hit != 'true'
    - name: Install our package
      shell: bash -l {0}
      run: |
        pip install -e .
    - name: Run pytest
      shell: bash -l {0}
      run: |
        echo -e '## Pytest Results\n\n' >> "$GITHUB_STEP_SUMMARY"
        echo -e '```' >> "$GITHUB_STEP_SUMMARY"
        pytest -v -cov=src/ 2>&1 tests | tee -a "$GITHUB_STEP_SUMMARY"
        echo -e '```' >> "$GITHUB_STEP_SUMMARY"
